In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')
import re
from nltk.corpus import stopwords
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
#loading Data After Cleaning
zomato=pd.read_csv("zomato_clean.csv")
zomato

,Unnamed: 0,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city,Mean Rating
0,0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,True,True,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,rated 40 ratedn beautiful place dine inthe int...,[],Buffet,Banashankari,3.99
1,1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,True,False,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,rated 40 ratedn dinner family turned good choo...,[],Buffet,Banashankari,3.97
2,2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,True,False,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,rated 30 ratedn ambience good enough pocket fr...,[],Buffet,Banashankari,3.58
3,3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,False,False,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,rated 40 ratedn great food proper karnataka st...,[],Buffet,Banashankari,3.45
4,4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,False,False,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,rated 40 ratedn good restaurant neighbourhood ...,[],Buffet,Banashankari,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41232,41232,"136, SAP Labs India, KIADB Export Promotion In...",The Farm House Bar N Grill,False,False,3.7,34,Whitefield,"Casual Dining, Bar","North Indian, Continental",800.0,rated 40 ratedn ambience big spacious lawn use...,[],Pubs and bars,Whitefield,3.45
41233,41233,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,False,False,2.5,81,Whitefield,"Casual Dining, Bar","Andhra, South Indian, Chinese, North Indian",800.0,rated 40 ratedn fine place chill office hours ...,[],Pubs and bars,Whitefield,1.62
41234,41234,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points By Sheraton Bengaluru...,False,False,3.6,27,Whitefield,Bar,Continental,1.5,rated 50 ratedn food service incomparably exce...,[],Pubs and bars,Whitefield,3.32
41235,41235,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,False,True,4.3,236,"ITPL Main Road, Whitefield",Bar,Finger Food,2.5,rated 40 ratedn nice friendly place staff awes...,[],Pubs and bars,Whitefield,4.23
41236,41236,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,False,False,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental",1.5,rated 50 ratedn great ambience looking nice go...,[],Pubs and bars,Whitefield,3.06

In [3]:
#zomato = zomato.drop("Unnamed: 0", 1)

In [4]:
zomato

,Unnamed: 0,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,reviews_list,menu_item,type,city,Mean Rating
0,0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,True,True,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,rated 40 ratedn beautiful place dine inthe int...,[],Buffet,Banashankari,3.99
1,1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,True,False,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,rated 40 ratedn dinner family turned good choo...,[],Buffet,Banashankari,3.97
2,2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,True,False,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,rated 30 ratedn ambience good enough pocket fr...,[],Buffet,Banashankari,3.58
3,3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,False,False,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,rated 40 ratedn great food proper karnataka st...,[],Buffet,Banashankari,3.45
4,4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,False,False,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,rated 40 ratedn good restaurant neighbourhood ...,[],Buffet,Banashankari,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41232,41232,"136, SAP Labs India, KIADB Export Promotion In...",The Farm House Bar N Grill,False,False,3.7,34,Whitefield,"Casual Dining, Bar","North Indian, Continental",800.0,rated 40 ratedn ambience big spacious lawn use...,[],Pubs and bars,Whitefield,3.45
41233,41233,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,False,False,2.5,81,Whitefield,"Casual Dining, Bar","Andhra, South Indian, Chinese, North Indian",800.0,rated 40 ratedn fine place chill office hours ...,[],Pubs and bars,Whitefield,1.62
41234,41234,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points By Sheraton Bengaluru...,False,False,3.6,27,Whitefield,Bar,Continental,1.5,rated 50 ratedn food service incomparably exce...,[],Pubs and bars,Whitefield,3.32
41235,41235,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,False,True,4.3,236,"ITPL Main Road, Whitefield",Bar,Finger Food,2.5,rated 40 ratedn nice friendly place staff awes...,[],Pubs and bars,Whitefield,4.23
41236,41236,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,False,False,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental",1.5,rated 50 ratedn great ambience looking nice go...,[],Pubs and bars,Whitefield,3.06

In [5]:
zomato=zomato.drop(['address','rest_type', 'type', 'menu_item', 'votes'],axis=1)

In [6]:
zomato

,Unnamed: 0,name,online_order,book_table,rate,location,cuisines,cost,reviews_list,city,Mean Rating
0,0,Jalsa,True,True,4.1,Banashankari,"North Indian, Mughlai, Chinese",800.0,rated 40 ratedn beautiful place dine inthe int...,Banashankari,3.99
1,1,Spice Elephant,True,False,4.1,Banashankari,"Chinese, North Indian, Thai",800.0,rated 40 ratedn dinner family turned good choo...,Banashankari,3.97
2,2,San Churro Cafe,True,False,3.8,Banashankari,"Cafe, Mexican, Italian",800.0,rated 30 ratedn ambience good enough pocket fr...,Banashankari,3.58
3,3,Addhuri Udupi Bhojana,False,False,3.7,Banashankari,"South Indian, North Indian",300.0,rated 40 ratedn great food proper karnataka st...,Banashankari,3.45
4,4,Grand Village,False,False,3.8,Basavanagudi,"North Indian, Rajasthani",600.0,rated 40 ratedn good restaurant neighbourhood ...,Banashankari,3.58
...,...,...,...,...,...,...,...,...,...,...,...
41232,41232,The Farm House Bar N Grill,False,False,3.7,Whitefield,"North Indian, Continental",800.0,rated 40 ratedn ambience big spacious lawn use...,Whitefield,3.45
41233,41233,Bhagini,False,False,2.5,Whitefield,"Andhra, South Indian, Chinese, North Indian",800.0,rated 40 ratedn fine place chill office hours ...,Whitefield,1.62
41234,41234,Best Brews - Four Points By Sheraton Bengaluru...,False,False,3.6,Whitefield,Continental,1.5,rated 50 ratedn food service incomparably exce...,Whitefield,3.32
41235,41235,Chime - Sheraton Grand Bengaluru Whitefield Ho...,False,True,4.3,"ITPL Main Road, Whitefield",Finger Food,2.5,rated 40 ratedn nice friendly place staff awes...,Whitefield,4.23
41236,41236,The Nest - The Den Bengaluru,False,False,3.4,"ITPL Main Road, Whitefield","Finger Food, North Indian, Continental",1.5,rated 50 ratedn great ambience looking nice go...,Whitefield,3.06

In [7]:
import pandas

# Randomly selecting fraction of whole dataset to save processing time. Whole dataset takes too long to process
df_percent = zomato.sample(frac=0.6)

In [8]:
df_percent.set_index('name', inplace=True)

In [9]:
df_percent

,Unnamed: 0,online_order,book_table,rate,location,cuisines,cost,reviews_list,city,Mean Rating
name,,,,,,,,,,
Yummy Tummy,3234,True,False,3.0,Bellandur,"Rolls, North Indian, Chinese, Biryani",400.0,rated 10 ratedn sorry say thisi never given ki...,Bellandur,2.50
Tandoor Hut,8755,True,False,4.1,Koramangala 5th Block,"North Indian, Mughlai, Chinese, Rolls",700.0,rated 30 ratedn ambience really good service r...,BTM,3.10
Keto Kitchen,35862,True,False,3.1,Indiranagar,Healthy Food,500.0,rated 20 ratedn ordered times first expected p...,Old Airport Road,3.16
Waffle Talesz,12785,True,False,3.7,Sarjapur Road,Desserts,200.0,rated 50 ratedn slightly bored time hang frien...,HSR,3.45
Cakezone,21042,True,False,4.1,BTM,"Bakery, Desserts",200.0,rated 30 ratedn took home delivery via zomato ...,Koramangala 4th Block,3.72
...,...,...,...,...,...,...,...,...,...,...
Litti House,32603,True,False,3.9,Brookefield,"North Indian, Bihari, Rajasthani",300.0,rated 40 ratedn never litti litti chokha first...,Marathahalli,3.71
Pathy'S Kitchen,33851,True,False,3.5,Indiranagar,Andhra,500.0,rated 10 ratedn chicken biriyani today ordered...,MG Road,3.19
Panchavati Gaurav Thali,33947,False,True,4.0,Brigade Road,"Rajasthani, Gujarati",800.0,rated 10 ratedn went family dinner rajasthani ...,MG Road,3.84
Fish Palace,31779,False,False,3.0,Rajajinagar,"Mangalorean, Chinese, Seafood, North Indian",450.0,rated 30 ratedn restaurant located rajajinagar...,Malleshwaram,2.55
Big Wong Xl,26457,False,True,4.5,Koramangala 5th Block,"Chinese, Sushi, Asian, Thai",1.4,rated 40 ratedn decent place get oriental food...,Koramangala 6th Block,4.48

# Recommender System 1 - TF IDF + Topic Modeling

In [10]:
indices = pd.Series(df_percent.index)
indices

0                    Yummy Tummy
1                    Tandoor Hut
2                   Keto Kitchen
3                  Waffle Talesz
4                       Cakezone
                  ...
24737                Litti House
24738            Pathy'S Kitchen
24739    Panchavati Gaurav Thali
24740                Fish Palace
24741                Big Wong Xl
Name: name, Length: 24742, dtype: object

In [11]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
# Creating tf-idf matrix
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=5, max_df=0.9, stop_words='english')
tfidf_matrix = tfidf.fit_transform(df_percent['reviews_list'].values.astype('U'))

tfidf_pd = pd.DataFrame(tfidf_matrix.toarray(), columns = tfidf.get_feature_names())
tfidf_pd

,00,00 rated,00082,00082 rated,001,0050,0050 hrs,00nservice25nambiance30ni,00nservice25nambiance30ni ordered,01,...,â¾,â¾ ordered,â¾ parking,â¾ rated,â¾ x83ã,â¾food,â¾food good,â¾the,â¾ã,â¾ã x83ã
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24738,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
from sklearn.decomposition import NMF

nmf = NMF(4, init = "nndsvda")
nmf.fit(tfidf_matrix)
nmf

NMF(init='nndsvda', n_components=4)

In [14]:
topic_term = nmf.components_.round(3)
topic_term.shape

(4, 461028)

In [15]:
topic_term_df = pd.DataFrame(topic_term.round(3),
                index = ["component_1", "component_2", "component_3", "component_4"], #"component_5"], #"component_6", "component_7"],
                columns = tfidf.get_feature_names())
topic_term_df

,00,00 rated,00082,00082 rated,001,0050,0050 hrs,00nservice25nambiance30ni,00nservice25nambiance30ni ordered,01,...,â¾,â¾ ordered,â¾ parking,â¾ rated,â¾ x83ã,â¾food,â¾food good,â¾the,â¾ã,â¾ã x83ã
component_1,0.000,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002,0.002
component_2,0.000,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000
component_3,0.001,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000
component_4,0.000,0.0,0.0,0.0,0.001,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000

In [16]:
# Function to display the top n terms in each topic
def display_topics(model, feature_names, no_top_words, topic_names = None): 
    for ix, topic in enumerate(model.components_):
        if not topic_names or not topic_names[ix]:
            print("\nTopic ", ix + 1)
        else:
            print("\nTopic: ", topic_names[ix])
        print(", ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))
    print("\n")
    return model, feature_names, no_top_words

In [18]:
output = display_topics(nmf, tfidf.get_feature_names(), 15)
### END SOLUTION
output;

Topic  1
x82ã, x83ã, x83ã x82ã, x82ã x82ã, x82ã x83ã, x83ã x83ã, x82ã x9fã, x9fã x83ã, x9fã, x80ã x83ã, x82ã x80ã, x80ã, x82ã x98ã, x98ã x83ã, x98ã

Topic  2
nan, butter, chicken, paneer, butter chicken, chicken nan, naan, nan good, economical overall, cost economical, tasted right, offer thali, tikka, right chicken, restaurant

Topic  3
place, good, food, 40, rated 40, 40 ratedn, service, ambience, chicken, great, really, nice, 50, rated 50, 50 ratedn

Topic  4
rated 10, 10 ratedn, 10, biryani, food, chicken, good, 50, rated 50, 50 ratedn, taste, order, ordered, delivery, ratedn good

In [22]:
#transforming CountVectorizer
doc_topic = nmf.transform(tfidf_matrix)

In [23]:
doc_topic[0]

array([0.00000000e+00, 1.67021410e-06, 0.00000000e+00, 2.97507693e-02])

In [332]:
observation_interest = doc_topic[2]

In [333]:
from scipy import spatial

cosine_list=[]
for i in doc_topic: 
    result = 1 - spatial.distance.cosine(observation_interest, i)
    cosine_list.append(result)

In [334]:
indices_rec_1 = pd.Series(df_percent.index)
indices_rec_1

0                    Yummy Tummy
1                    Tandoor Hut
2                   Keto Kitchen
3                  Waffle Talesz
4                       Cakezone
                  ...
24737                Litti House
24738            Pathy'S Kitchen
24739    Panchavati Gaurav Thali
24740                Fish Palace
24741                Big Wong Xl
Name: name, Length: 24742, dtype: object

In [363]:
rec = np.argsort(cosine_list)[-10:]

rec_names = []
for i in rec:
    rec_names.append(indices_rec_1[i])

print(rec_names)

['Gooey & Fluffy', 'Paratha Plaza', 'Paratha Plaza', 'The Higher Taste', 'Blueberry Restaurant', 'Blueberry Restaurant', 'Momo Bites', 'Momo Bites', 'Keto Kitchen', 'Keto Kitchen']

In [ ]:
#Recommender System is kind of working, not a Robust one

# Recommender System 2 - Using TF IDF & Cosine Similiarity Matrix

In [27]:
indices = pd.Series(df_percent.index)

In [34]:
indices

0                    Yummy Tummy
1                    Tandoor Hut
2                   Keto Kitchen
3                  Waffle Talesz
4                       Cakezone
                  ...
24737                Litti House
24738            Pathy'S Kitchen
24739    Panchavati Gaurav Thali
24740                Fish Palace
24741                Big Wong Xl
Name: name, Length: 24742, dtype: object

In [337]:
# Creating tf-idf matrix
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=5, max_df=0.9, stop_words='english')
tfidf_matrix = tfidf.fit_transform(df_percent['reviews_list'].values.astype('U'))

In [ ]:
#create cosine_similiarities
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [40]:
print(cosine_similarities)

[[1.         0.01787359 0.00111012 ... 0.02424328 0.01104193 0.01938105]
 [0.01787359 1.         0.0059629  ... 0.03403208 0.02368061 0.05650304]
 [0.00111012 0.0059629  1.         ... 0.00309119 0.00122852 0.16956172]
 ...
 [0.02424328 0.03403208 0.00309119 ... 1.         0.01173163 0.03577097]
 [0.01104193 0.02368061 0.00122852 ... 0.01173163 1.         0.0265706 ]
 [0.01938105 0.05650304 0.16956172 ... 0.03577097 0.0265706  1.        ]]

In [161]:
#Testing different ways of defining index, and creating descending list of cosine simliarity vectors

idx = indices[indices == 'The Flying Squirrel'].index[0]
score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)
score_series

#idx = indices2['Punjabi Home Made Food']
#idx

3118     1.000000
7103     1.000000
23891    0.968165
10117    0.968165
15259    0.968165
           ...
5156     0.000000
5157     0.000000
23309    0.000000
15526    0.000000
5490     0.000000
Length: 24742, dtype: float64

In [164]:
#checking score_series make sense
idx = indices[indices == 'The Flying Squirrel']
idx

3118     The Flying Squirrel
6114     The Flying Squirrel
7103     The Flying Squirrel
7839     The Flying Squirrel
10117    The Flying Squirrel
15259    The Flying Squirrel
23891    The Flying Squirrel
Name: name, dtype: object

In [166]:
top = list(score_series.iloc[0:50].index)
top

[3118,
 7103,
 23891,
 10117,
 15259,
 7839,
 14210,
 5259,
 24466,
 11073,
 5721,
 21644,
 21114,
 4106,
 2241,
 9410,
 23249,
 20916,
 20159,
 16229,
 14838,
 2969,
 2148,
 11125,
 7842,
 22417,
 2051,
 5990,
 8251,
 9522,
 20723,
 24277,
 23087,
 21286,
 1778,
 23547,
 10956,
 17836,
 6158,
 3589,
 20017,
 23314,
 8514,
 12903,
 7671,
 22962,
 9931,
 12530,
 14772,
 19647]

In [303]:
#Creating a list of recommended restuarants and appending the cosine similarity vectors to it
recommend_restaurant = []
for i in top:
    recommend_restaurant.append(list(df_percent.index)[i])
recommend_restaurant

['The Flying Squirrel',
 'The Flying Squirrel',
 'The Flying Squirrel',
 'The Flying Squirrel',
 'The Flying Squirrel',
 'The Flying Squirrel',
 'Coffee Mechanics',
 'Coffee Mechanics',
 'Coffee Mechanics',
 'Coffee Mechanics',
 'Coffee Bike',
 'Third Wave Coffee Roasters',
 'Karma Kaapi',
 'Karma Kaapi',
 'Malnad Blossom, Coffee & Cream',
 'Alchemy Coffee Roasters',
 'Third Wave Coffee Roasters',
 'Third Wave Coffee Roasters',
 'Third Wave Coffee Roasters',
 'Blue Tokai Coffee Roasters',
 'Coffee House',
 'Alchemy Coffee Roasters',
 'Third Wave Coffee Roasters',
 'Karma Kaapi',
 'Kalmane Koffees',
 'Barista',
 'Third Wave Coffee Roasters',
 'Karma Kaapi',
 'The Roastery',
 'Barista',
 'Blue Tokai Coffee Roasters',
 'Barista',
 'Alchemy Coffee Roasters',
 'Blue Tokai Coffee Roasters',
 'Third Wave Coffee Roasters',
 'Rescafe',
 'Cafe Coffee Day',
 'Barista',
 'Rescafe',
 'Hatti Kaapi',
 'Indian Coffee House',
 'Hatti Kaapi',
 'Rescafe',
 'Third Wave Coffee Roasters',
 'Matteo Coffea',
 'Blue Tokai Coffee Roasters',
 'Matteo Coffea',
 'Indian Coffee House',
 'Rescafe',
 'Third Wave Coffee Roasters']

In [308]:
#Creating new data frame and populating it with recommended restaurants
df_new = pd.DataFrame(columns=['cuisines', "Mean Rating", 'cost'])

for i in recommend_restaurant:
        df_new = df_new.append(pd.DataFrame(df_percent[['cuisines','Mean Rating', 'cost']][df_percent.index == i].sample()))
        
df_new

,cuisines,Mean Rating,cost
The Flying Squirrel,Cafe,3.84,450.0
The Flying Squirrel,Cafe,3.84,450.0
The Flying Squirrel,Cafe,3.84,450.0
The Flying Squirrel,Cafe,3.84,450.0
The Flying Squirrel,Cafe,3.84,450.0
The Flying Squirrel,"Cafe, Bakery, Beverages, Burger, Continental",3.84,450.0
Coffee Mechanics,"Cafe, Bakery, French, Jewish, Sandwich, Vegan,...",4.23,700.0
Coffee Mechanics,"Cafe, Bakery, French, Jewish, Sandwich, Vegan,...",4.23,700.0
Coffee Mechanics,"Cafe, Bakery, French, Jewish, Sandwich, Vegan,...",4.23,700.0
Coffee Mechanics,"Cafe, Bakery, French, Jewish, Sandwich, Vegan,...",4.23,700.0
Coffee Bike,"Fast Food, Beverages",3.45,250.0
Third Wave Coffee Roasters,"Cafe, Continental, Desserts",4.18,800.0
Karma Kaapi,"Beverages, Tea",4.37,250.0
Karma Kaapi,"Beverages, Tea",4.37,250.0
"Malnad Blossom, Coffee & Cream",Cafe,3.58,300.0
Alchemy Coffee Roasters,Cafe,4.10,500.0
Third Wave Coffee Roasters,"Cafe, Continental, Desserts",4.18,800.0
Third Wave Coffee Roasters,"Cafe, Continental, Desserts",4.18,800.0
Third Wave Coffee Roasters,"Cafe, Continental",4.18,800.0
Blue Tokai Coffee Roasters,"Cafe, Coffee",3.84,400.0
Coffee House,South Indian,2.94,150.0
Alchemy Coffee Roasters,Cafe,4.10,500.0
Third Wave Coffee Roasters,"Cafe, Continental, Desserts",4.18,800.0
Karma Kaapi,"Beverages, Tea",4.37,250.0
Kalmane Koffees,Cafe,3.61,350.0
Barista,Cafe,3.31,300.0
Third Wave Coffee Roasters,"Cafe, Continental, Desserts",4.18,800.0
Karma Kaapi,"Beverages, Tea",4.37,250.0
The Roastery,Cafe,4.23,500.0
Barista,Cafe,3.31,300.0
Blue Tokai Coffee Roasters,"Cafe, Coffee",3.84,400.0
Barista,Cafe,3.31,300.0
Alchemy Coffee Roasters,Cafe,4.10,500.0
Blue Tokai Coffee Roasters,Cafe,3.84,750.0
Third Wave Coffee Roasters,"Cafe, Continental",4.18,800.0
Rescafe,Beverages,3.58,100.0
Cafe Coffee Day,"Cafe, Fast Food",2.88,900.0
Barista,Cafe,3.31,300.0
Rescafe,Beverages,3.58,100.0
Hatti Kaapi,"South Indian, Beverages",3.61,200.0
Indian Coffee House,South Indian,3.81,200.0
Hatti Kaapi,"South Indian, Beverages",3.61,200.0
Rescafe,Beverages,3.58,100.0
Third Wave Coffee Roasters,"Cafe, Continental, Desserts",4.18,800.0
Matteo Coffea,Cafe,4.30,600.0
Blue Tokai Coffee Roasters,"Cafe, Coffee",3.84,400.0
Matteo Coffea,Cafe,4.30,600.0
Indian Coffee House,South Indian,3.81,200.0
Rescafe,Beverages,3.58,100.0
Third Wave Coffee Roasters,"Cafe, Continental",4.18,800.0

In [312]:
#Removing Dups and Sorting by Mean Rating
df_new = df_new.drop_duplicates(subset=['cuisines','Mean Rating', 'cost'], keep=False)
df_new = df_new.sort_values(by='Mean Rating', ascending=False)
df_new

,cuisines,Mean Rating,cost
The Roastery,Cafe,4.23,500.0
Blue Tokai Coffee Roasters,Cafe,3.84,750.0
The Flying Squirrel,"Cafe, Bakery, Beverages, Burger, Continental",3.84,450.0
Kalmane Koffees,Cafe,3.61,350.0
"Malnad Blossom, Coffee & Cream",Cafe,3.58,300.0
Coffee Bike,"Fast Food, Beverages",3.45,250.0
Coffee House,South Indian,2.94,150.0
Cafe Coffee Day,"Cafe, Fast Food",2.88,900.0

In [322]:
#Putting all the Functions together

def recommend(name, cosine_similarities = cosine_similarities):
    
    recommend_restaurant = []
    
    #Defining the index of the restaurant
    idx = indices[indices == name].index[0]
    
    #sorting Cosine Similiarities Matrix in Descending Order
    score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)
                             
    #Filtering out the top 45 restaurants                         
    top = list(score_series.iloc[0:50].index)
    
    
    #Create list of top 45 recommended restaurants
    for i in top:
        recommend_restaurant.append(list(df_percent.index)[i])
        
    #New Dat Frame
    df_new = pd.DataFrame(columns=['cuisines', "Mean Rating", 'cost'])
    
    #Append Resturant to new Data Frame
    for i in recommend_restaurant:
        df_new = df_new.append(pd.DataFrame(df_percent[['cuisines','Mean Rating', 'cost']][df_percent.index == i].sample()))
        
    ##Eliminate Dups and sort by Mean Rating to show only the top 10.     
    df_new = df_new.drop_duplicates(subset=['cuisines','Mean Rating', 'cost'], keep=False)
    df_new = df_new.sort_values(by='Mean Rating', ascending=False).head(10)

    print('Top 10 Restaurants with Similar Reviews:')
    
    return df_new

In [323]:
#Bakery / Desert Recommendations
recommend("Cake Menu")

Top 10 Restaurants with Similar Reviews:

,cuisines,Mean Rating,cost
The Sugar Fairy,"Bakery, Desserts",4.23,100.0
Mug N Bean,"Cafe, Continental, Italian, Burger",3.71,400.0
The Pastry House,"Bakery, Desserts",3.58,400.0
Dhaba Express,"Biryani, Fast Food, North Indian, Chinese",3.45,400.0
The Cake Mart,"Bakery, Desserts",3.39,600.0
Hotel New Karavali,"Chinese, Mangalorean, Seafood, North Indian",3.34,550.0
Vasanth Vihar - Since 1965,"South Indian, Street Food",3.32,150.0
Chef Baker'S,"Bakery, Fast Food, Pizza, Burger, Cafe",3.31,600.0
Sri Krishna Sagar,"South Indian, North Indian, Chinese, Street Fo...",3.26,400.0
Desi Dhaba,"Chinese, North Indian",3.19,300.0

In [324]:
#Cafe Recommendations
recommend("The Flying Squirrel")

Top 10 Restaurants with Similar Reviews:

                                                 cuisines  Mean Rating   cost
The Roastery                                         Cafe         4.23  500.0
Third Wave Coffee Roasters              Cafe, Continental         4.18  800.0
Kalmane Koffees                                      Cafe         3.61  350.0
Hatti Kaapi                       South Indian, Beverages         3.61  200.0
Hatti Kaapi                     South Indian, Street Food         3.61  200.0
Malnad Blossom, Coffee & Cream                       Cafe         3.58  300.0
Coffee Bike                          Fast Food, Beverages         3.45  250.0
Coffee House                                 South Indian         2.94  150.0
Cafe Coffee Day                           Cafe, Fast Food         2.88  900.0

In [325]:
#Fast Food Recommendations
recommend("Sandwichwallas")

Top 10 Restaurants with Similar Reviews:

,cuisines,Mean Rating,cost
Mojo Pizza - 2X Toppings,Pizza,4.13,600.0
Chez Mariannick,"French, Pizza, Bakery",3.97,1.0
Hari Super Sandwich,"Sandwich, Fast Food",3.89,100.0
Hari Super Sandwich,"Fast Food, Street Food",3.89,200.0
Food Springs,"South Indian, Chinese",3.84,400.0
Mahek Pizza,Pizza,3.71,400.0
Sidewalk Cafe - Nahar'S Heritage Hotel,"Italian, Fast Food",3.71,800.0
Whooppeezz,Pizza,3.58,500.0
Midnight Pizza Slurpp,"Italian, Pizza",3.45,700.0
Cafe Daily Bread,"Bakery, Fast Food, Italian",3.45,600.0

In [326]:
#North Indian & Chinese Cuisine Recommendations
recommend("Spicy Paratha House")

Top 10 Restaurants with Similar Reviews:

,cuisines,Mean Rating,cost
Dhaba Express,"Biryani, Fast Food, North Indian, Chinese",3.45,400.0
Sri Krishna Sagar,"South Indian, North Indian, Chinese",3.26,400.0
Sri Krishna Sagar,"South Indian, North Indian, Chinese, Street Fo...",3.26,400.0
Sri Krishna Sagar,"South Indian, North Indian",3.26,300.0
Nammura Donne Biriyani,"Andhra, Biryani",3.20,300.0
Desi Dhaba,"North Indian, Chinese, Rolls",3.19,300.0
Desi Dhaba,"Chinese, North Indian",3.19,300.0
Anda Ka Funda,"North Indian, Chinese, Rolls",2.85,250.0
Dindigul Time Pass Restaurant,"South Indian, North Indian, Chinese, Biryani",2.81,700.0
Garma Garam,"North Indian, Chinese, Biryani, Rolls",2.81,350.0

# 2 Second Recommender using Cosine Simliarity (Weaker)

In [234]:
df_percent2 = zomato.sample(frac=0.6)
df_percent2.head(25)

,Unnamed: 0,name,online_order,book_table,rate,location,cuisines,cost,reviews_list,city,Mean Rating
3339,3339,Spicy Paratha House,True,False,3.0,Marathahalli,"North Indian, Chinese",450.0,rated 50 ratedn im like type testy healthy foo...,Bellandur,2.55
4066,4066,Driven Cafe,True,False,3.4,Residency Road,"Cafe, Beverages, Fast Food",600.0,rated 10 ratedn really bad restaurant restaura...,Brigade Road,3.16
24966,24966,Chefie,True,False,3.8,Koramangala 1st Block,"Continental, Fast Food, Italian, North Indian",200.0,rated 40 ratedn ordered mixed veg biriyani pan...,Koramangala 5th Block,3.41
6817,6817,Indian Food,True,False,2.9,BTM,"North Indian, Biryani, Chinese, Momos",450.0,rated 50 ratedn explain delivery time food nic...,BTM,2.42
13687,13687,Abhiruchi Hotel,True,False,3.2,Bommanahalli,"North Indian, Biryani, Seafood",700.0,rated 10 ratedn receive order showing successf...,HSR,3.04
34403,34403,Happy Belly Bakes,True,False,4.1,MG Road,"Cafe, Bakery",500.0,rated 40 ratedn extremely fond hopping places ...,MG Road,4.03
26415,26415,Miss Momo,True,False,3.2,BTM,"Tibetan, Momos",250.0,rated 50 ratedn ordered chicken momos tandoori...,Koramangala 6th Block,2.81
17541,17541,Sandwichwallas,True,False,3.6,JP Nagar,Fast Food,200.0,rated 45 ratedn ordered place 5 times havent d...,JP Nagar,3.59
23948,23948,Pipabu,True,False,3.8,Koramangala 4th Block,"Continental, Italian, Chinese",750.0,rated 20 ratedn ordered via swiggy alfredo veg...,Koramangala 5th Block,3.55
34796,34796,Sri Rama,False,False,3.2,Shivajinagar,South Indian,200.0,rated 40 ratedn one oldest restaurants shivaji...,MG Road,2.81
30193,30193,Just Bake,True,False,3.3,Ulsoor,Bakery,400.0,rated 40 ratedn got chocolate cake amazing cho...,Lavelle Road,3.07
33528,33528,Brew And Barbeque - A Microbrewery Pub,True,True,4.6,Marathahalli,"Continental, North Indian, BBQ, Steak",1.4,rated 30 ratedn went team lunch ambience okayi...,Marathahalli,4.64
7548,7548,Noon'S,True,False,4.2,HSR,Biryani,300.0,rated 50 ratedn hyderabad bawarchi vida vera l...,BTM,4.10
38341,38341,Smoor,True,False,4.1,MG Road,Desserts,900.0,rated 50 ratedn time favourite smoor hangout f...,Residency Road,3.96
10877,10877,Cake Menu,True,False,3.3,Electronic City,Bakery,400.0,rated 50 ratedn superb service thanks zomtao t...,Electronic City,3.03
39229,39229,Southinn,True,False,3.1,Sarjapur Road,"South Indian, Fast Food, Chinese, North Indian...",250.0,rated 30 ratedn go place workplace got used fo...,Sarjapur Road,3.28
16048,16048,Navya Foods,True,False,3.4,HSR,"North Indian, Fast Food",300.0,rated 50 ratedn heres boneless biriyani good l...,Jayanagar,3.06
14011,14011,Cupcake Bliss,True,False,3.6,Domlur,Bakery,250.0,rated 10 ratedn ordered 3 red velvet 3 chocola...,Indiranagar,3.18
14212,14212,Kadamba Foodline,True,False,3.7,Ulsoor,"Chinese, North Indian, South Indian",400.0,rated 30 ratedn cleanliness good rice varietie...,Indiranagar,3.45
4135,4135,Savoury Restaurant,True,False,4.1,Frazer Town,"Arabian, North Indian, Chinese, Beverages",800.0,rated 40 ratedn got paneer biryani placenand p...,Brigade Road,3.50
18658,18658,Protein Grillhouse,True,True,4.2,Jayanagar,"Healthy Food, Continental, Juices, Salad, Burg...",800.0,rated 20 ratedn pretty decent ambience lots co...,JP Nagar,4.12
2872,2872,Iyengar'S Inn,False,False,4.1,Jayanagar,South Indian,100.0,rated 50 ratedn beautiful place peaceful meal ...,Basavanagudi,3.97
31305,31305,Beetle Juice Bar - Springs Hotel & Spa,False,True,3.7,Basavanagudi,Finger Food,2.2,NaN,Lavelle Road,3.45
30851,30851,Soul Cafe,False,True,3.9,MG Road,"Cafe, Continental, Italian",800.0,rated 40 ratedn people stepping soul cafe gree...,Lavelle Road,3.71
37929,37929,Tree Top,True,False,3.8,Wilson Garden,"Continental, Chinese, North Indian, South Indian",1.0,rated 30 ratedn visited restaurant familynthe ...,Residency Road,3.58

In [104]:
indices2 = pd.Series(df_percent2.index, index=df_percent2.name)
indices2

name
Punjabi Home Made Food                  39947
Hotel Taj Delight                       35459
Chill-Um Cafe                           24972
Kitchen'S Sea Food Restaurant           28792
Page 3 Multicuisine Restaurant & Bar    10666
                                        ...
Bhojohori Manna                          7286
Zeeshan                                 29034
Sri Udupi Park                           3131
New Kadai                               20164
Xian                                     4510
Length: 24742, dtype: int64

In [108]:
idx = indices2['Punjabi Home Made Food']
idx

name
Punjabi Home Made Food    39947
Punjabi Home Made Food    39525
dtype: int64

In [129]:
idx1 = indices[indices == 'Keto Kitchen'].index[0]
idx1

556

In [117]:
indices

0                    Yummy Tummy
1                    Tandoor Hut
2                   Keto Kitchen
3                  Waffle Talesz
4                       Cakezone
                  ...
24737                Litti House
24738            Pathy'S Kitchen
24739    Panchavati Gaurav Thali
24740                Fish Palace
24741                Big Wong Xl
Name: name, Length: 24742, dtype: object

In [185]:
def recommend2(name, cosine_similarities, indices):
    
    recommend_restaurant = []
    
    #Get index of the restaurant that matches the input name
    idx = indices[indices == name].index[0]
    
    #Get the pairwise similarity scores
    sim_scores = list(enumerate(cosine_similarities[idx]))
    
    #Sort the restaurants based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse = True)
    
    #Get the scores for 10 most similiar restaurants
    sim_scores = sim_scores[1:11]
    
    #Get the resturant indices
    restaurant_indices = [i[0] for i in sim_scores]
    

    return df_percent2['name'].iloc[restaurant_indices]

In [186]:
recommend2('The Flying Squirrel', cosine_similarities, indices)

10633                The Spice Bazaar
20822              Zam Zam Restaurant
22505                           Petoo
28318                  Juice Junction
8958                      Kamat Swaad
27772    Indian Chicken Biryani Point
5655                      Midas Touch
35322                  Ketty'S Corner
28119                 Cafe Graffiters
24730     By The Blue - Grand Mercure
Name: name, dtype: object

In [350]:
recommend2('Cake Menu', cosine_similarities, indices)

27863                             Marwa Restaurant
15489                               Swad Punjab Da
16799                                        Petoo
14879                     Dakshin Biryani & Tiffin
8337                    Nandanam Family Restaurant
27565                        Nuts Over Salads Cafe
22241                                      Belgyum
11272                              Pugals Biriyani
11517    CafãÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ© Mh-28
32968                               Ackley Kitchen
Name: name, dtype: object

In [ ]:
#Weaker Recommendaiton, Juice Junction, Cafe Graffiters, Midas Touch are good recommednations 
#(they are Cafe style resturants), some are street food vendors which can be kind of correlated, 
# but Zam Zam is a Chinese and The Spice Bazaar is a buffet, so it doesn't make sense for those to be recommended

In [213]:
df_percent2.loc[df_percent2.name == 'The Spice Bazaar']

,Unnamed: 0,name,online_order,book_table,rate,location,cuisines,cost,reviews_list,city,Mean Rating
10633,10633,The Spice Bazaar,False,True,4.2,Lavelle Road,"North Indian, Mughlai",1.0,rated 40 ratedn spice bazaar eat buffet restau...,Church Street,4.1
5399,5399,The Spice Bazaar,False,True,4.2,Lavelle Road,"North Indian, Mughlai",1.0,rated 40 ratedn spice bazaar eat buffet restau...,Brigade Road,4.1
30629,30629,The Spice Bazaar,False,True,4.2,Lavelle Road,"North Indian, Mughlai",1.0,rated 40 ratedn spice bazaar eat buffet restau...,Lavelle Road,4.1
3984,3984,The Spice Bazaar,False,True,4.2,Lavelle Road,"North Indian, Mughlai",1.0,rated 40 ratedn went team lunchnplace good roo...,Brigade Road,4.1
35016,35016,The Spice Bazaar,False,True,4.2,Lavelle Road,"North Indian, Mughlai",1.0,rated 40 ratedn spice bazaar eat buffet restau...,MG Road,4.1
29865,29865,The Spice Bazaar,False,True,4.2,Lavelle Road,"North Indian, Mughlai",1.0,rated 40 ratedn spice bazaar eat buffet restau...,Lavelle Road,4.1
37691,37691,The Spice Bazaar,False,True,4.2,Lavelle Road,"North Indian, Mughlai",1.0,rated 40 ratedn spice bazaar eat buffet restau...,Residency Road,4.1
9183,9183,The Spice Bazaar,False,True,4.2,Lavelle Road,"North Indian, Mughlai",1.0,rated 40 ratedn spice bazaar eat buffet restau...,Church Street,4.1
34501,34501,The Spice Bazaar,False,True,4.2,Lavelle Road,"North Indian, Mughlai",1.0,rated 40 ratedn spice bazaar eat buffet restau...,MG Road,4.1
31238,31238,The Spice Bazaar,False,True,4.2,Lavelle Road,"North Indian, Mughlai",1.0,rated 40 ratedn spice bazaar eat buffet restau...,Lavelle Road,4.1